.Rproj.user
.Rhistory
.RData
.Ruserdata
data
data.lnk
output.lnk
TEST_ITERATIVE_K_2.R
TEST_ITERATIVE_K.R
eff.csv
study_area.csv
output
study_area2.csv
7_test_bed
Figure_2_(c).tiff
PolyID.dbf
PolyID.shp
PolyID.shx
Table3.csv
bottype.tiff
sharpnose.RData
tmp_Table3.csv
