old
9-7-18
Figure_2_(a).tiff
Figure_2_(b).tiff
Figure_2_(c).png
Figure_2_(d).tiff
Figure_2_(e).tiff
Figure_2_(f).tiff
blacknose_layer1.tiff
blacknose_layer2.tiff
blacknose_layer3.tiff
blacktip_layer1.tiff
blacktip_layer2.tiff
blacktip_layer3.tiff
by YEAR
sharpnose_layer1.tiff
sharpnose_layer2.tiff
sharpnose_layer3.tiff
sharpnose_layer3_tiff
